
  <section class="info__section">
    <div class="left_side">
    <p class="action__text">New</p>
    <h2 class="topic__text">Почему подросткам стоит изучать программирование?</h2>
    <p class="description__text">Объясняем почему словосочетание «программирование для подростков» не должно вызывать скептическую улыбку и какие полезные навыки приобретают ребята, изучая программирование.</p>
    <button class="mat-button button__school">Читать</button>
    </div>
    <div class="right_side">
      <div class="place__for__image">PLACE</div>
    </div>
  </section>
